.container {
  text-align: center;
}

.title {
  font-size: 3.6rem;
}

.projects {
  margin-top: 8.6rem;
  padding-bottom: 7rem;
}

.project {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-top: 8.6rem;
}

.project:nth-child(even) .banner {
  grid-column: 2 / 3;
}

.project:nth-child(even) h3 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.project h3 {
  font-size: 2.4rem;
}

.banner {
  position: relative;
  width: 85rem;
}

.banner img {
  width: 85rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 3px);
  width: 100%;
  background-color: #000000;
  opacity: 0.2;
  transition: all 0.5s ease;
}

.overlay > * {
  position: absolute;
  opacity: 0;
  transition: all 0.5s ease;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay:hover {
  opacity: 0.8;
}

.overlay:hover > * {
  opacity: 1;
}

@media (max-width: 1250px) {
  .banner {
    width: 65rem;
  }

  .banner img {
    width: 65rem;
  }
}

@media (max-width: 950px) {
  .banner {
    width: 60rem;
  }

  .banner img {
    width: 60rem;
  }
}

@media (max-width: 800px) {
  .project {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .project:nth-child(even) .banner {
    grid-column: 1 / -1;
  }

  .project:nth-child(even) h3 {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }
}

@media (max-width: 650px) {
  .banner {
    width: 50rem;
  }

  .banner img {
    width: 50rem;
  }
}

@media (max-width: 530px) {
  .banner {
    width: 40rem;
  }

  .banner img {
    width: 40rem;
  }
}
