.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8rem;
}

.navItem {
  font-size: 1.8rem;
  font-weight: 700;
  color: #19c2d8;
}

.active .navItem {
  color: #3a3c99;
}
