* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a1b63;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 1rem = 10px */
html {
  font-size: 62.5%;
  color: #19c2d8;
}

@media (max-width: 1000px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 43.75%;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 37.5%;
  }
}
